<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

    <title>Daniela Oliveira </title>
</head>
<body>

    <aside id='header'>
        <section class="profile">
            <img src="../static/img/icon.png" alt="DanielaFoto">
            <h1> Daniela Oliveira</h1>
            <div>
                <a href="google.com" >
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="google.com">
                    <i class="bi bi-youtube"></i>
                </a>
                <a href="google.com"
                >
                <i class="bi bi-instagram"></i></a>

            </div>

        </section>
    </aside>


    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>